{% include 'header.html' %}

<br>
<p>Key: <code>{{ key }}</code> </p>
<p>Link: <a href="https://vpasta.lol/search/{{key}}">https://vpasta.lol/search/{{key}}</a></p>
<div><p><code>{{ value }}</code></p></div>

{% include 'footer.html' %}
