{% include 'header.html' %}

<form action="/exploredht" method = "POST">
    <p>DHT Key <input type = "text" name = "dht_key" size="70"/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

{% include 'footer.html' %}
