{% include 'header.html' %}

<p>New Paste</p>
<form action="/data" method = "POST">
    <textarea id="data" name="data" rows="10" cols="70"></textarea>
    <p><input type = "submit" value = "Submit" /></p>
</form>

{% include 'footer.html' %}
