<!DOCTYPE html>
<html lang="en">
<head>
<title>VPasta</title>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>
<body>

<header>
  <h1>&#127837 <a href="https://vpasta.lol">vpasta.lol</a> &#127837</h1>
<p>A <a href="https://veilid.com">veilid</a> based simple pastebin clone</p>
<p><a href="/">Paste</a> <a href="/explorer">Explorer</a></p>
</header>
