{% include 'header.html' %}

<br>
<h1>Success </h1>
<p>Key: <code> {{ key }}</code></p>
<p>Link: <a href="https://vpasta.lol/search/{{key}}">https://vpasta.lol/search/{{key}}</a></p>
<div><p><code>{{ data }}</code></p></div>

{% include 'footer.html' %}
